@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}
#draggable {
  background: #eee;
  display:flex;
  align-items: center;
  justify-content:center;
  position: fixed;
  left:0;top: 0;
  width: 200px;
  height:200px;
  font-size:2rem;
}

.text-fix {
  position:absolute;
  bottom:8%;
  right:0;
  left:0;
  text-align: center;
  font-family:'Open Sans',sans-serif;
  font-weight:bolder;
  @apply text-[20px] md:text-[24px] ml-6 ;
  
}
