@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}
#draggable {
  background: #eee;
  display:flex;
  align-items: center;
  justify-content:center;
  position: fixed;
  left:0;top: 0;
  width: 200px;
  height:200px;
  font-size:2rem;
}

.text-fix {
  position:absolute;
  bottom:10%;
  right:0;
  left:0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight:bold;
  @apply text-[36px] md:text-[56px] ml-4 ;
  
}

.textArea{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  @apply text-[24px] md:text-[56px] ml-4 ;
}


.Header{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  @apply text-[36px] md:text-[56px] ml-4 ;
}

.textEditodBg{
 background-image:url(../public/bg.png);
 background-size: cover;
 background-repeat:'no-repeat' !important;
 min-height:100vh !important;
}

.buttonNext{
  font-family: "Poppins", sans-serif;
}